.empty-issues-alert-container {
    background-color: rgba(109, 122, 126, 0.9);
    border-radius: 10px;
    border: 3px solid rgb(247, 248, 255);
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    height: 20vh;
    color: white;
}

