$border-radius: 10px;
$input-color: rgb(247, 248, 255);
$border-color: rgb(247, 248, 255);

.input-form {
    background-color: rgba(109, 122, 126, 0.5);
    width: 70%;
    margin: auto;
    margin-top: 10%;
    border: 3px solid $border-color; 
    border-radius: $border-radius;
}

.form-container {
    padding: 5%;
}

.form-items {
    margin: 5%;

    label {
        width: 30%;
        font-weight: bold;
        font-size: 2.5vh;
        color: $input-color;
    }

    input {
        float: right;
        width: 60%;
        padding: 1vh;
        border: 2px solid $border-color;
        background-color: rgb(220, 220, 221);
        border-radius: $border-radius;
    }
}

.button-container {
    text-align: center;
    margin-top: 10%;
}

.submit-button {
    width: 30%;
    background-color: rgba(109, 122, 126, 0.5);
    padding: 1vh;
    color: $input-color;
    border: 2px solid $border-color;
    border-radius: $border-radius;
}