.missing-comments-alert {
    color: rgb(220, 220, 221);
    background-color: rgba(255, 0, 0, 0.5);
    width: 90%;
    margin: auto;
    margin-top: 10%;
    padding: 3%;
    border-radius: 10px;
    border: 3px solid rgb(247, 248, 255);
}